* {
  background: rgb(210, 238, 241);
  text-align: center;
}
.emoji {
  font-size: 40px;
  margin: 20px 0;
}
.xv {
  margin: 0 calc(1.2vh + 1.2vw + 1.2rem);
}
img {
  height: calc(15vh + 15vw + 15rem);
  width: calc(10vh + 10vw + 10rem);
  margin: 10px;
}
.person-name {
  margin-bottom: 10px;
  font-size: calc(2vh + 2vw + 2rem);
}
.emoji-num {
  font-size: calc(1vh + 1vw + 1rem);
}
.emoji-space {
  margin: 0 calc(1vh + 1vw + 1rem);
}
