.shoes-container {
  border: 2px solid gray;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin: 7px;
  background: silver;
}
.detail {
  margin-top: 7px;
  background: silver;
}
.shoes-type {
  font-size: 22px;
  margin: 5px;
  background: silver;
}
.shoes-btns {
  background: silver;
  margin: 5px;
}
