* {
  background: navajowhite;
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.shoes-img {
  width: 200px;
  height: 150px;
}
.shoes-img img {
  width: 100%;
  height: 100%;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 4vh;
  width: 100vh;
  text-align: center;
  background-color: lightskyblue;
  margin: 2px;
  font-size: 3.3vh;
}
header {
  display: flex;
  margin: 1vh;
}
.add-btns {
  margin: 0 2vh 0 5vh;
}
